body {
    background: linear-gradient(50deg, #b31d95, rgb(0, 119, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-decoration-color: azure;
   };
  