svg {
  width: 25vmin;
  aspect-ratio: 1;
  overflow: visible !important;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.text-container {
  text-align: center;
}